---
Checks: "-*,
        bugprone-*,
        cert-*,
        clang-analyzer-*,
        cppcoreguidelines-*,
        google-*,
        modernize-*,
        -modernize-use-trailing-return-type,
        performance-*,
        portability-*,
        readability-*,
        -readability-identifier-length
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none